@import "/static/css/standard.scss";
// 主题less变量合集
$ThemeColor: #F5A623;

// iphone 背景色
$background: #F8F8F8;

// 图片服务器地址
$imgSrc:"/static";
*{
	// padding: 0;
	// margin: 0;
	overflow-wrap: break-word;
}
.page-wrap{
	padding-bottom: 1.875rem;
}
ul,li{
	list-style-type: none;
	padding: 0;
}
.uni-container{
	margin-bottom: 0.2rem;
}
// 单一类型样式 ------Start
// 内容上下左右
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
// 暂无数据样式
.no-list-tip{
	text-align: center;
	padding: 1.125rem 0;
	color: #999;
}
// 加载更多按钮
.get-more-btn{
	text-align: center;
	width: 100%;
	height: 56rpx;
	position: relative;
	&::after{
		content: "加载更多";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		width: 160rpx;
		border-radius: 12rpx;
		line-height: 2;
		background-color: $ThemeColor;
		color: #fff;
	}
}
.btn-yellow{
	background: $ThemeColor;
	color: #fff;
	font-size: 1rem;
}
.btn-white{
	color: $ThemeColor;
	background: #fff !important;
	border: 0.1rem solid $ThemeColor;
	font-size: 1rem;
}
.page-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 200rem;
	height: 200rem;
	overflow: hidden;
	background: #fff;
	z-index: 10000;
}
// 向右箭头
.next-icon{
	position: relative;
	&::after {
		content: " ";
		position: absolute;
		right: 20rpx;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 16rpx;
		height: 28rpx;
		background: url($imgSrc+"/icons/next.png") no-repeat right / 100% 100%;
	}
}
// 1行后超出的...显示
.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1; /* 注意：line-clamp是新属性，需要添加前缀 */
  -webkit-line-clamp: 1; /* Chrome和其他WebKit浏览器 */
  display: -webkit-box; /* 旧语法，WebKit内核的浏览器 */
  -moz-box-orient: vertical; /* Firefox */
}
// 2行后超出的...显示
.text-ellipsis2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2; /* 注意：line-clamp是新属性，需要添加前缀 */
  -webkit-line-clamp: 2; /* Chrome和其他WebKit浏览器 */
  display: -webkit-box; /* 旧语法，WebKit内核的浏览器 */
  -moz-box-orient: vertical; /* Firefox */
}
// 单一类型样式 ------End

// 列表标题
.item-title-wrap{
	margin: 1.875rem 0 1.125rem 0;
	font-weight: 700;
	.item-title{
		display: inline-block;
		// color: transparent;
		font-size: 1.375rem;
		line-height: 1.875rem;
		padding-bottom: 0.3rem;
		background: url($imgSrc+"/image/title_back.png") no-repeat bottom center / 5.5rem;
	}
	.item-subtitle{
		display: inline-block;
		color: #999999;
		font-size: 0.875rem;
		line-height: 2.175rem;
		vertical-align: top;
		margin-left: 0.5rem;
	}
	.item-more{
		float: right;
		line-height: 2.175rem;
		color: #999;
		font-size: 0.875rem;
		.text{
			color: #999999;
			font-size: 0.875rem;
		}
		.icon-more{
			padding-right: 0.9rem;
			background: url($imgSrc+"/icons/next.png") no-repeat right / 0.5rem 0.8rem;
		}
	}
}

// tab一行显示允许横向滚动
.tab-overflow-bar{
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 0.75rem;
	.tab-wrap{
		
		width: max-content;
		.tab{
			float: left;
		}
	}
}

// 头像vip
.head-pic-wrap {
	position: relative;
}
//VIP标识
.vip-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40rpx;
	height: 40rpx;
	z-index: 2;
	// background: url($imgSrc+"/icons/vip.png") no-repeat center / 100% 100%;
	&[vipLevel="1"]{
		background: url($imgSrc+"/icons/vip.png") no-repeat center / 100% 100%;
	}
	&[vipLevel="2"]{
		background: url($imgSrc+"/icons/svip.png") no-repeat center / 100% 100%;
	}
}
// 修改默认样式颜色为主题色
uni-button{
	background-color: $ThemeColor !important;
	font-size: 1rem;
}
.uni-data-checklist .checklist-group .checklist-box.is--default.is-checked .radio__inner{
	border-color: $ThemeColor !important;
}
.uni-data-checklist .checklist-group .checklist-box.is--default.is-checked .radio__inner .radio__inner-icon{
	background-color : $ThemeColor !important;
}
.uni-data-checklist .checklist-group .checklist-box.is--default.is-checked .checklist-text{
	color: $ThemeColor !important;
}
.uni-toast{
	width: 10rem;
}
.uni-toast__content{
	padding: 0 0.3rem;
}
.uni-popup{
	z-index: 1000 !important;
}
