* {
	margin: 0;
	padding: 0;
}

.common-head-wrap {
	display: flex;
	padding: 0.08rem;
}

.back {
	width: 0.34rem;
	height: 0.34rem;
	background: url("../image/back_grey.png") no-repeat center / 100% 100%;
}

.more {
	width: 0.34rem;
	height: 0.34rem;
}

.head-title {
	text-align: center;
	font-size: 0.16rem;
	flex: 1;
	line-height: 0.34rem;
}