.common-padding-wrap {
	padding: 0.2rem 0.15rem;
}

.user-vip-info-wrap {
	border-radius: 0.2rem;
	overflow: hidden;
	box-shadow: 0px 0px 14px 0px rgba(255, 220, 146, 0.5);
	&[type='0'] {
		.vip-info-wrap {
			padding: 0.25rem 0.18rem;
			background: linear-gradient(to right, #E2E2E2, #A5A5A5);
		}
		
		.user-info-wrap {
			background: #F0F0F0;
			
		}
		.vip-icon{
			background: url('../image/no-vip.png') no-repeat center / 100% 100%;
		}
		
	}
	&[type='1']{
		.vip-info-wrap {
			padding: 0.25rem 0.18rem;
			background: linear-gradient(#FAD961, #F76B1C);
		}
		.user-info-wrap {
			background: #FFF5C7;
		}
		.vip-icon{
			background: url('../image/vip.png') no-repeat center / 100% 100%;
		}
	}
	.vip-icon{
		width: 1.04rem;
		height: 1.04rem;
	}
	.vip-info-wrap{
		display: flex;
		.vip-title-wrap {
			height: 1.02rem;
			color: #fff;
			flex: 1;
			.vip-title {
				font-size: 0.3rem;
			}
			.vip-subTitle {
				font-size: 0.2rem;
			}
			
		}
	}
	.user-info-wrap{
		display: flex;
		padding: 0 0.2rem;
		line-height: 0.6rem;
		
		.user-info {
			.user-header{
				width: 0.36rem;
				height: 0.36rem;
				border-radius: 50%;
				overflow: hidden;
			}
			.user-name{
				display: inline-block;
			}
			.user-vip-tip{
				flex: 1;
				text-align: right;
			}
			
		}
	}
	.vip-agreement{
		margin-top: 0.3rem;
		display: block;
	}
	.combo-wrap{
		margin-top: 0.2rem;
		.combo-title{
			font-size: 0.18rem;
			span{
				color: #9b9b9b;
				font-size: 0.12rem;
				vertical-align: middle;
				margin-left: 0.05rem;
			}
		}
		.combo-list-window{
			width: 100%;
			padding-top: 0.27rem;
			overflow: auto hidden;
			.combo-list-wrap{
				width: max-content;
				height: 1.7rem;
				.combo-list{
					min-width: 1.23rem;
					border-radius: 0.1rem;
					border: 0.02rem solid #EBEBEB;
					float: left;
					padding: 0.15rem 0.1rem;
					position: relative;
					text-align: center;
					margin-right: 0.1rem;
					.label{
						position: absolute;
						top: -0.1rem;
						left: 0;
						padding: 0 0.14rem;
						background-color:#FE9726;
						font-size: 0.12rem;
						border-radius: 0.1rem 0 0.1rem 0;
						line-height: 0.2rem;
						color: #ffffff;
					}
					.title{
						font-size: 0.15rem;
					}
					.subTitle{
						color: #FE7226;
						font-size: 0.1rem;
					}
					.money{
						color: #ff0000;
						font-size: 0.32rem;
					}
					.original-price{
						color: #888888;
						font-size: 0.14rem;
					}
				}
				.selected{
					border: 0.02rem solid #FFCF8C;
				}
			}
		}
	}
}

.compare-wrap{
	margin-top: 0.3rem;
	.compare-banner{
		position: relative;
		background-color: #F5A623;
		height: 1.3rem;
		.compare-title{
			color: #ffffff;
			font-size: 0.32rem;
			position: absolute;
			top: 0;
			left: 0.28rem;
			bottom: 0;
			height: max-content;
			margin: auto;
			line-height: 1.2;
			span{
				font-size: 0.26rem;
			}
		}
		.banner{
			position: absolute;
			right: -0.1rem;
			bottom: 0;
			width: 2.18rem;
			height: 1.65rem;
			background: url("../image/referrer.png") no-repeat center / 100% 100%;
		}
	}
}